---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Universidad Nacional de General Sarmiento",
    title: "Técnicatura Universitaria en Informática",
    company: "95% completado",
    description:
      "Formación sólida en los fundamentos de la informática y el desarrollo de software, con un fuerte énfasis en la programación orientada a objetos, el diseño de algoritmos eficientes y las estructuras de datos. Adquirí experiencia práctica en el desarrollo de aplicaciones con [Menciona lenguajes, ej: Python, Java] y en el manejo de sistemas de control de versiones (Git). Preparado para roles de desarrollador con foco en la implementación de soluciones y la resolución de problemas.",
    link: "https://www.ungs.edu.ar/carrera/tecnicatura-universitaria-en-informatica",
  },
  {
    date: "Universidad Nacional de General Sarmiento",
    title: "Licenciatura en Sistemas",
    company: "57% completado",
    description:
      "Profundizando en el análisis, diseño y arquitectura de sistemas complejos, con especialización en desarrollo de software en Java y Python. Aplicación avanzada de algoritmos y Programación Orientada a Objetos para la creación de soluciones escalables. Experiencia en la gestión de código con Git y en la implementación de Unit Testing con JUnit. Familiaridad con el intercambio de datos en JSON y XML, y adopción de metodologías ágiles como SCRUM para el desarrollo colaborativo de proyectos.",
    link: "https://www.ungs.edu.ar/carrera/licenciatura-en-sistemas"
    },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
